* {
    margin: 5px;

}

.orden {
    margin-left: 15px;
}

#iconuno {
    margin-left: 20px;
}

#icondos {
    margin-left: 250px;
}

#icontres {
    margin-left: 250px;
}

#iconcuatro {
    align-items: end;
    margin-left: 250px;
}

#titugrande {
    font-size: 50px;
}

.titulo {
    text-align: right;
}

.education {
    width: 100%;
    padding-left: 0;
    padding-right: 0px;
    margin: 0%;
}

.educar {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    margin: 0%;
}

.contenedor-educacion {
    display: flex;
}


.dosbor {
    padding-left: 50px;
    border-left: 3px solid black;
}



.experiencia {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0%;
}

.trabajo {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    margin: 0%;
}

.contenedor-experiencia {
    display: flex;
    justify-content: right;
}

.border {
    padding-left: 95px;
    border-left: 3px solid black;
}



.bordeee {
    margin-left: 90px;
    border-left: 3px solid black;
}


.borderito {
    padding-left: 2px;
    border-left: 3px solid black;
}



.bordeado {
    padding-left: 200px;
    border-left: 300px
}

.textouno {
    padding: 10px 0 0px 0%;
}

.progreso {
    margin-left: 20px;

}

.progresouno {
    margin-left: 15px;
}

.progresodos {
    margin-left: 60px;
}

.progresotres {
    margin-left: 5px;
}

.progresocuatro {
    margin-left: 5px;
}

.progresocinco {
    margin-left: 25px;

}

.certifica {
    margin-top: 4%;
}

.progresoseis {
    margin-left: 35px;

}

.progresonueve {

    margin-left: 5px;

}

.raya {
    padding-top: 5px;
    border-top: 1px solid black;
}

.rayauno {
    padding-top: 10px;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid black;
}

.icono {
    width: 50px;
    height: 100%;
}


.borderayaidioma {
    border-left: 3px solid black;
    margin-left: 95px;
}

.educationss {
    width: 100%;
    padding-left: 0;
    padding-right: 0px;

}

.educartr {
    width: 100%;
    padding-bottom: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 0px;


}

#color {
    background-color: bisque;
}

.contenedor-educacionss {
    display: flex;
}

.bordeadoss {
    text-align: right;


}

.idioma {
    text-align: right;
}

.bordeaa {
    padding-left: 5px;
    border-left: 3px;

}


.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}



#imageshobbies {
    border-radius: 50%;
    border: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

/* 
/
.barra-proceso{
    background-color: white;
    width: 80%;
    height: 20px;   
    border-radius: 10px;
}
.barra-procesoContenedorCOPY {
    background-color: black;
    height: 100%;
    border-radius: 12px;

    display: flex;
justify-content: right;  
color: white;
font-size: 90px;
}
 */